@import url('https://fonts.googleapis.com/css?family=Playfair&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');



* {
    padding: 0;
    border: 0;
    margin: 0;
    
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Playfair', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#splash {
    background: rgb(246, 245, 243);
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-top: 0px
}

section {
    padding: 20px;
    width: 1200px;
    background: rgb(246, 245, 243);
}


.whisper {
    font-size: 1.2rem;
    color: rgb(216, 215, 213);
}

.tag {
    padding: 5px 15px;
    border-radius: 10px;
    background: black;
    color: white;
    display: inline-block;
    margin: 40px 7px;
}

h1 {
    font-size: 7rem;
    line-height: 100px;
}

h2 {
    font-size: 2.5rem; 
}

img {
    width: 500px;
    border: solid black 2px;
    border-radius: 10px;
}

nav {
    height: 50px;
    width: 100%;
    position: relative
}

ul {
    height: 100%;
    position: absolute;
    right: 0;
    padding: 0 10px;
}

li {
    line-height: 50px;
    font-weight: 600;
    text-align: center;
    vertical-align: center;
    padding: 0 30px;
    display: inline-block;
    font-size: 1.2rem;
    color: rgb(50,50,50);
}

li:hover {
    font-weight: 1000;
    cursor: pointer;
    text-decoration: underline;
    color: rgb(153, 149, 140);
}

.cardsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
}

.card {
    color: white;
    background-color: rgb(0,0,0);
    width: 400px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    opacity: 80%;
    transition: opacity 0.5s;
}

.card:hover {
    opacity: 100%
}

.card h3 {
    color: white;
    font-size: 2rem;
    margin: 10px 0;
}

.card p {
    color: white;
    font-size: 1rem;
}

.card .cardBtnContainer {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.card button {
    width: 100px;
    height: 40px;
    font-size: 1.3rem;
    margin: 10px;
    background: rgb(255, 255, 255);
    opacity: 60%;
    border-radius: 10px;
    transition: opacity 0.5s;
}

.card button:hover {
    width: 100px;
    height: 40px;
    font-size: 1.3rem;
    margin: 10px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    opacity: 100%;
    cursor: pointer;
}

form {
    margin: 15px;
    position: relative;
}

.textBox {
    height: 40px;
    margin: 10px 5px;
    border: solid rgb(125, 121, 111) 2px;
    background-color: white;
    border-radius: 10px;
    padding: 0 10px;
}

#namefield {
    width: 200px;
}

#emailfield {
    width: 400px;
}

#bodyfield {
    padding: 10px;
    display: block;
    width: 80%;
    height: 200px;
}

#sendEmailBtn {
    padding: 10px;
    margin: 3px;
    font-weight: bold;
    height: 40px;
    width: 70px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

#sendEmailBtn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

#Contact {
    min-height: 400px;
}

.spinner {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 10px;
    border: solid black 5px;
    border-top-color:rgba(0,0,0,0);
    border-radius: 20px;
    margin: 10px 0;
    background: none;
    animation: spin 1s ease infinite;
    visibility: hidden;
}

@keyframes spin {
    from{transform: rotate(0deg);}to{transform: rotate(360deg);}
}

.display {
    visibility: visible;
}

